/*HOME-BOOKS-ABOUT-PROFILE (Navigation Bar)*/
body {
    font-family:Playfair Display;
    background-color: #860000;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
li {
    float: left;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #860000;
}
.header {
    padding: 0px;
    display: flex;
    align-items: center;
}
.header p {
    color: white;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}


/*HOME*/
/*Promotion Section*/
.promotions-section {
    padding: 40px 0;
    text-align: center;
}
.promotions-section h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 7px solid #333;
    padding-bottom: 10px;
}
.promotion p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 5px;
}
.promotion {
    margin-bottom: 30px;
}
.promotion img {
    width: 900px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
} */

/*Best Sellers Section*/
.best-sellers-section {
    text-align: center;
}
.best-sellers-section h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 7px solid #333;
    padding-bottom: 10px;
}
.best-sellers-section p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 5px;
}
.best-sellers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.best-seller {
    margin: 10px;
}
.best-seller img {
    width: 280px;
    height: 350px;
}

/*Mission & Vision Section*/
.mv-section h2,h4,p{
    color: #ffffff;
}
.mv-section p{
    color: #ffffff;
}
.mv-section {
    background-color: #333;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 1);
    margin: 0 20px 20px 20px;
    padding: 30px;
    text-align: center;
    border-radius: 50px;
}


/* BOOKS */
.book-list {
    text-align: center;
    display: inline-table;

    margin: 10px 10px 10px 10px;
}
.book {
    list-style: none;
    padding: 14.5px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
}
.book:hover {
    transform: scale(1.05);
}
.book img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}
.book span.book-name,
.book span.author,
.book span.price {
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    font-size: 16px;
}
.book button {
    background-color: #333;
    color: #ffffff;
    margin: 10px 78px 10px 10px;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.book button:hover {
    background-color: #860000;
} 
/* Updated CSS styles for information box */
.information-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius:  1px ;
    box-shadow: 0 2px 10px rgba(0, 0, 0,1);
    z-index: 1000;
    text-align: left; /* Align text to the left */
    width: 90%;
    height: 85%;
}
/* Style for the Close button */
#buttonId {
    position: absolute;
    bottom: 20px;
}
/* Style for the Buy button */
#orderbtn {
    position: absolute;
    bottom: 20px;
    right: 20px; /* Adjust the right property to move the button to the desired distance from the right corner */
}
.section {
    background-color: #333;
    padding: 0px;
    width: 400px;
    margin:  auto;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-left: 0px;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 18px;
}
input {
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 18px;
    padding: 2px;
    margin-bottom: 0px;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    width: 100%;
}
input[type="file"] {
    border: none;
}
textarea{
    background-color: #3d3d3d;
    color: #ffffff;
}
button {
    width: auto;
    height: auto;
    background-color: #860000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ff3700;
}


/* Comments */
.comment {
    width: 90%;
    height: 90%;
    margin: 50px auto;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}
h1 {
    color: #fff;
    text-align: center;
}
.comment-container {
    overflow-x: auto;
    margin-top: 20px;
    max-height: 300px; /* Set the desired maximum height */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    border: 1px solid #860000; /* Add a border for better visibility */
}

/* Styles for the scrollbar */
.comment-container::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

.comment-container::-webkit-scrollbar-thumb {
    background-color: #470000; /* Set the color of the scrollbar thumb */
    border-radius: 0px; /* Set the border radius of the scrollbar thumb */
}

.comment-container::-webkit-scrollbar-track {
    background-color: #333; /* Set the color of the scrollbar track */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}
th, td {
    color: #fff;
    padding: 12px;
    text-align: left;
    border: 1px solid #860000; /* Add borders to table cells */
}
th {
    background-color: #860000;
    color: white;
}
tr:hover {
    background-color: #860000;
}
.comment-section h2 {
    color: #fff;
    text-align: center;
}

  



/*ABOUT*/
 .about-section {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}
.about-section h2 {
    color: #ffffff;
    margin-top: 0px;
}
.about-section p {
    font-size: 18px;
    line-height: 1.6;
}   

.sponsored-section {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}
.sponsored-section h2 {
    color: #ffffff;
}
.sponsor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.sponsor img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-right: 10px;
}
.sponsor p {
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.sponsored-section h2,h3{
    color: #ffffff;
    margin-top: 0px;
} 


/*Profile*/
.profile-container{
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 101px 300px 102px 300px;
    padding: 10px;
    border-radius: 20px;
}
.profile-container  h1 {
    text-align: left;
    color: #ffffff;
    padding: 0px 20px;
}
.memberlist {
    color: #ffffff;
    padding: 0px 20px 10px 20px;
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
}
button {
    background-color: #860000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    float: right;
}
button:hover {
    background-color: #c00000;
}